# Project exclude paths
/out/
/T-Vouchers.iml
/target/
/.idea/
/src/main/java/META-INF/MANIFEST.MF
/dependency-reduced-pom.xml
/vouchers-plugin/dependency-reduced-pom.xml
/vouchers-plugin/target/
/vouchers-plugin/vouchers-plugin.iml
